<!DOCTYPE HTML>
<html> 
  <head>
  	<title>Tamplate 1</title>
  	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  </head>
  <body >
  	<div  class="container">
       <table class="table table-striple">
       	 <tr>
       	 	<th>Name</th>
       	 	<th>Description</th>
       	 	<th>Link</th>
       	 </tr>
       	 <tr>
       	 	<td>Message Notification</td>
       	 	<td>Desk Notification</td>
       	 	<td><a href="tempOne">Template One</td>
       	 </tr>
       </table>
  	</div>
  </body>
</html>